body {
  font-family: 'Poppins', sans-serif;
}

.features-section {
  background: #ffffff;
  padding: 80px 0;
}

.feature-item {
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
  opacity: 1;
  transform: none;
}

.feature-item h4 {
  font-weight: 600;
  color: #145a32;
}

.feature-item p {
  color: #555;
  font-size: 16px;
}

.feature-icon {
  font-size: 64px;
  color: #1f7a3f;
}

.reverse {
  flex-direction: row-reverse;
}
